#content.landing-page
	%h1 ChirpyBox
	%h2 A Social Suggestion Box
	%p.margin-bottom
		We're still hammering together our first few ChirpyBoxes. Want us to let you know when we're ready to make one for you?
	= form_for(@invite) do |f|
		.display-table.signup-table
			.table-row
				.table-cell.table-cell-email
					= f.text_field :email, placeholder:"your@email.com", type:"email", class:"email-field"
				.table-cell.table-cell-submit
					= f.submit 'Let me know!', class:"submit-button"
			- if notice
				.table-row
					.table-cell
						%p.error = notice
	%footer
		%nav
			%ul.inline
				%li
					= mail_to "hello@chirpybox.com", "Contact", :encode => "hex"
				%li #{link_to "Twitter", "https://twitter.com/chirpybox"}
				%li #{link_to "Take Our Survey", "#"}