<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @suggestion_box.name %> 
</p>
<p>
  <b>Short Name:</b>
  <%= @suggestion_box.short_name %> 
</p>
<p>
  <b>Passcode:</b>
  <%= @suggestion_box.passcode %> 
</p>


<%= link_to 'Edit', edit_suggestion_box_path(@suggestion_box) %> |
<%= link_to 'Back', suggestion_boxes_path %>
