%header
  = image_tag("http://placehold.it/50x50", :size => "50x50", :alt => "Org logo", class:"logo")
  %h1.title
    = @suggestion_box.name + " Suggestion Box"
.main
  = form_for [@suggestion_box, @suggestion] do |f|
    - if @suggestion.errors.any?
      #error_explanation
        %ul
          - @suggestion.errors.messages.values.each do |msg|
            = msg.to_sentence
    .field
      %br/
      = f.text_area :message, type:"text", placeholder:"How can we make BCL better?", :rows => 6, :cols => 30
    / %p.anonymous>
    /   = f.label :anonymous do
    /     = f.check_box :anonymous
    /     %span>Anonymous suggestion.

    %p
      = text_field_tag 'suggestion-name', nil, placeholder:'Name (optional)'

    %p
      = text_field_tag 'suggestion-email', nil, placeholder:"Email (optional)"

    %p.math-quiz
      / %hr
      Just to make sure you're human, what's 3+6? 
      = text_field_tag 'math-quiz'
    %p.actions
      = f.submit "Post it!"