%h1 Brooklyn Creative League Suggestion Box

= form_for(@suggestion) do |f|
  - if @suggestion.errors.any?
    #error_explanation
      %h2
        = pluralize(@suggestion.errors.count, "error")
        prohibited this suggestion from being saved:

  %ul
    - @suggestion.errors.full_messages.each do |msg|
      %li= msg

  .field
    = f.label :message
    %br/
    = f.text_area :message

  .field
    = f.label :member_name, 'Name'
    %br/
    = f.text_field :member_name

  .field
    = f.label :member_email, 'Email'
    %br/
    = f.email_field :member_email

  .field
    = f.check_box :anonymous_suggestion
    = f.label :anomymous_suggestion, "I'd like to remain anonymous."
    %br/

  .actions
    = f.submit

