.notice
  = flash[:notice]
%header
  = image_tag("/assets/bcl/bcl-logo.png", :size => "50x50", :alt => "Brooklyn Creative League", class:"logo")
  %h1.title BCL Suggestion Box
.main
  %p.help-text We'd love to hear your comments, complaints, or ideas!
  = form_for(@suggestion) do |f|
    - if @suggestion.errors.any?
      #error_explanation
        %h2
          = pluralize(@suggestion.errors.count, "error")
          prohibited this suggestion from being saved:
        %ul
          - @suggestion.errors.full_messages.each do |msg|
            %li= msg
    .field
      -# = f.label :message, "Please post a suggestion"
      %br/
      = f.text_area :message, type:"text", placeholder:"Drop a note in our suggestion box...", :rows => 6, :cols => 30
    .field
      -# = f.label :member_name,'Your Name'
      %br/
      = f.text_field :member_name, placeholder:"Your Name"
    .field
      -# = f.label :member_email,'Your Email'
      %br/
      = f.text_field :member_email, placeholder:"Your Email"
    .field
      = f.check_box :anonymous_suggestion
      = f.label :anonymous_suggestion,"I'd like to make this suggestion anonymously"
      %br/
    .actions
      = f.submit "Post Suggestion"