%header
  .table-row
    .logo
      = image_tag("bcl/bcl-logo.png", :alt => "Org logo")
    %h1
      #{@suggestion_box.short_name} Suggestion Box
#content
  = form_for [@suggestion_box, @suggestion], remote:true do |f|
    - if @suggestion.errors.any?
      .errors_header
        /Oops, looks like there was a problem...
        / %ul
        /   - @suggestion.errors.messages.values.each do |msg|
        /     %li
        /       %span
        /         = msg.to_sentence
    = f.text_area :message, type:"text", placeholder:"How can we make #{@suggestion_box.short_name} better?", :rows => 3, autocapitalize:"sentences", autofocus:true, id:"suggestion-message"
    = f.text_field :name, placeholder:'Name (optional)', autocapitalize:"words", id:"test"
    = f.email_field :email, placeholder:'Email (optional)', autocorrect:"off", autocapitalize:"off"
    %label.help
      Just to make sure you're a real person:
      %br
    = textcaptcha_fields(f) do
      = f.label :spam_answer, @suggestion.spam_question
      = f.text_field :spam_answer, :value => ''
    = f.submit "Continue", id:"new-suggestion-submit"