%header
  .table-row
    .logo
      = image_tag("bcl/bcl-logo.png", :alt => "Org logo")
    %h1
      #{@suggestion_box.short_name} Suggestion Box
#content
  %p.flash.notice Thanks!  We appreciate your input!
  -#= render "layouts/flashes"
  %h2 Here's your suggestion:
  %p<
    "
    = @suggestion.message
    %span>"
  - if @suggestion.name?
    %p
      Name:
      = @suggestion.name
  - if @suggestion.email?
    %p
      Email:
      = @suggestion.email
  %hr
  = link_to "Post another suggestion", new_suggestion_box_suggestion_path(@suggestion_box)