!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %title ChirpyBox - A Social Suggestion Box
    %link{:href => "http://fonts.googleapis.com/css?family=Dancing+Script", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Crimson+Text", :rel => "stylesheet", :type => "text/css"}/
    -#%link{:href => "http://fonts.googleapis.com/css?family=Allerta", :rel => "stylesheet", :type => "text/css"}/
    -#%link{href:'http://fonts.googleapis.com/css?family=Pathway+Gothic+One', rel:'stylesheet', type:'text/css'}
    %script{:type=>"text/javascript", :src=>"//use.typekit.net/wjb6ybj.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag "screen", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "layouts/flashes"
    / .user-account
    /     - if current_user
    /         = "Logged in as #{current_user.email}"
    /         | 
    /         = link_to "Sign Out", logout_path  #("current"), method: "delete"
    /     - else
    /         = link_to "Sign Up", signup_path
    /         | 
    /         = link_to "Login", login_path
  = yield
  = javascript_include_tag(:application)
  -#= render "layouts/footer"
